<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" type="text/css" href="/vendor/jquery-ui/ui/themes/smoothness/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/angucomplete-alt/angucomplete-alt.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/video.js/dist/video-js.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css"> -->
	<meta name="fragment" content="!">
	<meta charset="UTF-8">
	<title>MaktabTv</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="/vendor/jquery-ui/ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="/vendor/angucomplete-alt/angucomplete-alt.css">
    <link rel="stylesheet" href="/vendor/angular/angular-csp.css">
    <link rel="stylesheet" href="/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- endinject -->

<!-- inject:before-body:js -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/angular/angular.min.js"></script>
<script src="/vendor/angular-route/angular-route.min.js"></script>
<script src="/vendor/angular-animate/angular-animate.min.js"></script>
<script src="/vendor/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script src="/vendor/angular-resource/angular-resource.min.js"></script>
<script src="/vendor/satellizer.js"></script>
<script src="/vendor/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/vendor/angular-utils-pagination/dirPagination.js"></script>
<script src="/vendor/jwplayer/jwplayer.js"></script>
<script src="/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- endinject -->



</head>
<body ng-app="app">
	<div ng-view></div>
    <footer class="footer_page">
        <div class="container clearfix">
            <div class="footer_right_side">
                <ul class="menu_footer">
                    <li><a href="">درباره مکتب تی وی</a></li>
                    <li><a href=""> آخرین درس های ارائه شده</a></li>
                    <li><a href="">تماس با ما</a></li>
                </ul>
                <p class="clearfix footer_context">استفاده از مطالب سايت مکتب تی وی فقط برای مقاصد غیر تجاری و با ذکر منبع بلامانع است.</p>
            </div>
            <div class="footer_left_side">
                <figure class="footer_logo">
                    <a href="">
                        <img alt="logo" src="/assets/icons/footer_logo.png">
                    </a>
                </figure>
            </div>
        </div>
    </footer>
</body>

<!-- inject:after-body:js -->
<script src="/app/app.module.js"></script>
<script src="/app/core/core.module.js"></script>
<script src="/app/courses/courses.module.js"></script>
<script src="/app/filter/filter.module.js"></script>
<script src="/app/main/main.module.js"></script>
<script src="/app/video/video.module.js"></script>
<script src="/app/core/authInterceptor.js"></script>
<script src="/app/core/config.js"></script>
<script src="/app/core/route.service.js"></script>
<script src="/app/courses/courses.controller.js"></script>
<script src="/app/courses/courses.factory.js"></script>
<script src="/app/courses/courses.route.js"></script>
<script src="/app/directives/app.directives.js"></script>
<script src="/app/directives/scroller.directive.js"></script>
<script src="/app/filter/capitalize.filter.js"></script>
<script src="/app/main/homeFactory.js"></script>
<script src="/app/main/main.route.js"></script>
<script src="/app/main/mainDirective.js"></script>
<script src="/app/main/mainViewFactory.js"></script>
<script src="/app/video/video.controller.js"></script>
<script src="/app/video/video.factory.js"></script>
<script src="/app/video/video.route.js"></script>
<script src="/app/main/controllers/FirstPageSearchController.js"></script>
<script src="/app/main/controllers/FirstPageSignupController.js"></script>
<script src="/app/main/controllers/TopArticlesAndSubCategoriesController.js"></script>
<script src="/app/main/controllers/TopCardsController.js"></script>
<script src="/app/main/controllers/TopCategories.js"></script>
<!-- endinject -->



<!-- <script type="text/javascript" src="/vendor/video.js/dist/video.js" ></script>
<script>
    videojs.options.flash.swf = "/vendor/video.js/dist/video-js.swf"
</script>
<script type="text/javascript" src="/vendor/require.js" data-main="../app/main.js"></script> -->
</html>
