<header class="page_header clearfix" ng-controller="FirstPageSearchController as search">
    <div class="Browse_courses">
        <span>Browse Courses</span>
    </div>
    <div data-ng-if="search.searchData" class="Search_courses">
        <div ng-keypress="search.keyEventHandler($event)" angucomplete-alt id="ex1" placeholder="Search countries" maxlength="50" pause="100" selected-object="search.selectedValue" local-data="search.searchData" search-fields="name,subcategoryName" title-field="name,subcategoryName" minlength="1" input-class="form-control form-control-small" match-class="highlight" input-changed="search.inputChanged">
        </div>
    </div>
    <div class="Page_logo">
        <h3>Udemy</h3>
    </div>
    <div class="header_links">
        <a>Become an Instructor</a>
        <a>Login</a>
        <span>|</span>
        <a>Sign Up</a>
    </div>
</header>