<main ng-cloak="" class="main_block clearfix">
    <!-- <img class="main_photo" src="assets/img/course_main.jpg" alt="main"> -->
    <header class="header clearfix">
        <div class="container clearfix">
            <nav class="navBar">
                <ul class="menu pull_right">
                    <li>
                        <a class="home_link active clearfix" href="#/">
                            <span></span>خانه</a>
                    </li>
                    <li>
                        <a href="">شاخه های درسی</a>
                    </li>
                </ul>
                <!-- <ul class="register_menu pull_left">
                    <li><a class="nav_register" href=""><span></span>عضویت</a></li>
                    <li><a class="nav_logIn" href=""><span></span>ورود</a></li>
                </ul> -->
            </nav>
            <div class="logo pull_left">
                <a href=""><img src="assets/icons/logo.png"></a>
            </div>
        </div>
    </header>
    <div class="course_bg clearfix">
        <div class="main_context">
            <div class="search_context">
                <p>تمام دروس ارائه شده</p>
            </div>
        </div>
    </div>
</main>
<section ng-cloak class="section_filter_course clearfix">
    <div class="container clearfix" data-ng-controller="coursesController as cc">
        <section class="filter_course_wrapper clearfix">
            <div class="sort_filter clearfix">
                <ul class="sort_filter_List">
                    <li class="sort_filter_List_item sort_view">
                        <label for="sort_view">مرتب کردن بر اساس</label>
                        <ul>
                          <li class="selcet_view_container">
                            <select id="sort_view_2" class="sort_direction" ng-model="cc.selectedSortOrder" ng-options="info.name for info in cc.sortOrderOptions" ng-change="cc.changeSort(cc.selectedSortField.key,cc.selectedSortOrder.key)"></select>
                            <select class="sort_base" id="sort_view" ng-model="cc.selectedSortField" ng-options="info.name for info in cc.sortFieldOptions" ng-change="cc.changeSort(cc.selectedSortField.key,cc.selectedSortOrder.key)">
                            </select>
                          </li>
                        </ul>
                    </li>
                    <li class="sort_filter_List_item view_num">
                        <label for="num_view">تعداد نمایش</label>
                        <select id="num_view">
                            <option>24</option>
                        </select>
                    </li>
                    <li class="sort_filter_List_item slider_filter">
                        <label for="num_level">سطح</label>
                        <rzslider rz-slider-on-change="cc.levelSliderChange()" rz-slider-model="cc.slider_ticks_values.values" rz-slider-options="cc.slider_ticks_values.options" ></rzslider>
                    </li>

                </ul>
                <div class="sortOption clearfix">
                    <a class="listbtn "></a>
                    <a class="gridbtn selected"></a>
                </div>
            </div>
            <div class="filter_course clearfix">
                <div class="filter_cluster clearfix">
                    <header class="filter_header clearfix">
                        <h4>دسته بندی ها<i class="filter_title title_filter_sections"></i>
                        </h4>
                    </header>
                    <main class="filter_main">
                        <div class="courses_accordion" data-ng-repeat="info in cc.categoryAndSubCategoriesAndArticles">
                            <h4 class="header_courses_accordion" ng-click="cc.accordion($event)">
                                <span class="icon_accordion"></span>{{::info.categoryName | capitalize}}
                                <!-- <span class="course_num">{{::info.num}}</span> -->
                            </h4>
                            <ul class="list_courses_accordion">
                                <li data-ng-click="cc.selectSubCategory(el.name)" class="list_courses_item" data-ng-repeat="el in info.subCategories">
                                    <a href="">{{::el.name}}</a>
                                    <!-- <span class="course_num">{{::el.articles.length}}</span> -->
                                </li>
                            </ul>
                        </div>
                    </main>
                    <header class="filter_header clearfix">
                        <h4>نرم افزارها<i class="filter_title title_filter_soft"></i>
                        </h4>
                    </header>
                    <main class="filter_main clearfix">
                        <div class="text_input_search_wrapper">
                            <input class="text_input_search" ng-model="cc.filterSoftwareInput">
                            <i></i>
                        </div>
                        <ul class="filter_list" custom-scroll>
                            <li>
                                <p class="check_filter clearfix" data-ng-repeat="info in cc.softwares | filter:cc.filterSoftwares">
                                    <input class="input_check_filter" id="soft_{{::info.name}}" type="checkbox" data-ng-model="info.select">
                                    <label class="label_check_filter" for="soft_{{::info.name}}" title="{{info.name}}">{{info.name.length < 26 ? '' : '...'}}{{::info.name | capitalize | limitTo:26}}</label>
                                </p>
                            </li>
                        </ul>
                    </main>
                    <header class="filter_header clearfix">
                        <h4>مدرسین<i class="filter_title title_filter_teacher"></i>
                        </h4>
                    </header>
                    <main class="filter_main clearfix">
                        <div class="text_input_search_wrapper">
                            <input class="text_input_search" ng-model="cc.filterAuthorInput">
                            <i></i>
                        </div>
                        <ul class="filter_list" custom-scroll>
                            <li>
                                <p class="check_filter clearfix filter_teacher" data-ng-repeat="info in cc.authors | filter:cc.filterAuthors">
                                    <input class="input_check_filter" id="author_{{::info.name}}" type="checkbox" data-ng-model="info.select">
                                    <label class="label_check_filter" for="author_{{::info.name}}">{{::info.name | capitalize}}</label>
                                </p>
                            </li>
                        </ul>
                    </main>
                    <header class="filter_header clearfix">
                        <h4>منابع<i class="filter_title title_filter_source"></i>
                        </h4>
                    </header>
                    <main class="filter_main clearfix">
                        <p class="check_filter" data-ng-repeat="info in cc.resources">
                            <input class="input_check_filter" id="resource_{{::info.name}}" type="checkbox" data-ng-model="info.select">
                            <label class="label_check_filter" for="resource_{{::info.name}}">{{::info.name | capitalize}}</label>
                        </p>
                    </main>
                    <!-- <header class="filter_header clearfix">
                        <h4>سطوح</h4>
                    </header>
                    <main class="filter_main clearfix">
                        <p class="check_filter" data-ng-repeat="info in cc.levels">
                            <input class="input_check_filter" id="level_{{::info.name}}" type="checkbox" data-ng-model="info.select">
                            <label class="label_check_filter" for="level_{{::info.name}}">{{::info.name | capitalize}}</label>
                        </p>
                    </main> -->
                </div>
            </div>
            <div class="course_wrapper" data-ng-if="cc.articles">
                <p ng-if="cc.searchParam">
                    {{cc.articles.length}}
                    آموزش یافت شد
                </p>
                <div class="paging clearfix">
                    <dir-pagination-controls></dir-pagination-controls>
                </div>
                <div class="courses clearfix" data-ng-cloak ng-hide="cc.loadingShow">
                    <div class="loading-container" ng-show="cc.loadingShow">
                        <!--<div class="loader">-->
                        <div class="loading-bars">
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </div>
                        <!--</div>-->
                    </div>
                    <article class="course clearfix" dir-paginate="info in cc.articles | filter:cc.filterCourses | itemsPerPage:12 ">
                        <!-- <tr dir-paginate="info in cc.articles | filter:cc.filterCourses | itemsPerPage:13 " current-page="tableView.currPage"> -->
                        <a class="clearfix" href="#/video/{{::info.articleId}}">
                            <figure class="course_img clearfix">
                                <div class="price clearfix">
                                    <p>رایــگان</p>
                                </div>
                                <img class="course_img" ng-src="assets/img/articles/{{::info.articleId}}/Main-001.jpg" onerror="this.src='assets/img/defaultImage.png'" width="277" title="{{info.articleName}}" alt="{{info.articleName}}">
                            </figure>
                            <header class="course_header clearfix">
                                <h4>
                                    {{::info.articleName | capitalize}}
                                </h4>
                            </header>
                            <ul class="list_details clearfix">
                                <!--morteza-->
                                <li class="list_details_item list_details_teacher clearfix">
                                    <p>مدرس:</p>
                                    <p>{{::info.articleAuthor}}</p>
                                </li>
                                <li class="list_details_item list_details_source clearfix">
                                    <p>{{::info.articleResource | capitalize}}</p>
                                </li>
                                <li class="list_details_item list_details_time clearfix">
                                    <p>{{::info.articleDuration}}
                                        دقیقه</p>
                                </li>
                            </ul>
                            <footer class="course_footer clearfix">
                                <div class="pull_right date_wrapper clearfix">
                                    <span class="date icon"></span>
                                    <p>{{::info.articleReleaseDate}}</p>
                                </div>
                                <div class="pull_left view_wrapper clearfix">
                                    <span class="view icon"></span>
                                    <p>بازدید{{::info.articleViews}}</p>
                                </div>
                            </footer>
                        </a>
                    </article>
                </div>
                <div class="paging clearfix">
                    <dir-pagination-controls></dir-pagination-controls>
                </div>
            </div>
        </section>
    </div>
</section>
<!-- <section class="rss_email clearfix">
    <div class="container clearfix">
        <div class="rss_email_context">
            <div class="rss_email_img clearfix">
                <span></span>
            </div>
            <p class="rss_email_context">برای اطلاع از آخرین ویدیوهای ارائه شده ایمیل خود را وارد نمایید:</p>
        </div>
        <div class="rss_email_register">
            <input class="email_input_rss" type="text">
            <a>ثبت</a>
        </div>
    </div>
</section> -->
