<header class="page_header clearfix">
    <div class="top_border"></div>
    <div class="signing">
        <a>Login</a>
        <a>Sign Up</a>
    </div>
    <div class="logo">
        <img src="img/logo-green.svg">
    </div>
    <div class="search">
        <input placeholder="search for courses">
    </div>
    <div class="browse_courses">
        <a>Browse Courses</a>
        <img src="img/menu55.png">
    </div>
</header>
<div>
    <main class="search_page" data-ng-controller="searchCtrl as sc">
        <section class="about_categry">
            <div class="topic">
                <h3>Search results for {{sc.searchQuery}}</h3>
            </div>
        </section>
        <aside id='cssmenu'>
            <ul>
                <li>
                    <a href='#'>
                        <input type="checkbox"><span>Home</span></a>
                </li>
                <li>
                    <a href='#'>
                        <input type="checkbox"><span>Business</span></a>
                </li>
                <li>
                    <a href='#'>
                        <input type="checkbox"><span>IT & Software</span></a>
                </li>
                <li>
                    <a href='#'>
                        <input type="checkbox"><span>Office Productivity</span></a>
                </li>
                <li>
                    <a href='#'>
                        <input type="checkbox"><span>Personal Development</span></a>
                </li>
                <li>
                    <a href='#'>
                        <input type="checkbox"><span>Design</span></a>
                </li>
                <li>
                    <a href='#'>
                        <input type="checkbox"><span>Marketing</span></a>
                </li>
                <li>
                    <a href='#'>
                        <input type="checkbox"><span>Lifestyle</span></a>
                </li>
                <li>
                    <a href='#'>
                        <input type="checkbox"><span>Photography</span></a>
                </li>
                <li class='last'>
                    <a href='#'>
                        <input type="checkbox"><span>Test Prep</span></a>
                </li>
            </ul>
        </aside>
        <section class="all_video clearfix">
            <header>
                <span>Sort By :</span>
                <select>
                    <option>Language</option>
                    <option>review</option>
                    <option>newest</option>
                    <option>Price</option>
                </select>
            </header>
            <h2 data-ng-if="!sc.searchResult.length">Nothing found !</h2>
            <a href="#/video/{{info.id}}" data-ng-repeat="info in sc.searchResult">
                <article class="items clearfix">
                    <figure>
                        <img src="img/625204_436a_2.jpg">
                    </figure>
                    <div class="right-side clearfix">
                        <h3>{{info.name}}</h3>
                        <h5>by {{info.author_name}}</h5>
                        <footer class="clearfix">
                            <span class="prise">from {{info.resource_name}}</span>
                            <span class="about">level : {{info.level_name}}</span>
                        </footer>
                    </div>
                </article>
            </a>
            <div class="paginate clearfix">
                <ul>
                    <li><a href="">&lang;</a></li>
                    <li><a href="">1</a></li>
                    <li><a href="" class="inactive">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="" class="active">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">&rang;</a></li>
                </ul>
            </div>
        </section>
    </main>
</div>
