<div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
    <input ng-model="searchStr" field-tabindex="25" ng-disabled="disableInput" type="text"
           placeholder="جستجوی عنوان آموزشی" class="main_search form-control-small ng-dirty ng-valid-parse ng-touched"
           autocapitalize="off" autocorrect="off" autocomplete="off" ng-change="inputChangeHandler(searchStr)" ng-focus="onFocusHandler()" ng-blur="hideResults($event)">
    <!--ng-focus="onFocusHandler() ng-blur="hideResults($event)""-->
    <div class="angucomplete-dropdown main_search ng-show" ng-show="showDropdown" custom-scroll>
        <div class="angucomplete-searching ng-binding ng-hide" ng-show="searching" ng-bind="textSearching">در حال جستجو
            ...
        </div>
        <div class="angucomplete-searching ng-binding" ng-show="!searching &amp;&amp; (!results || results.length == 0)"
             ng-bind="textNoResults">نتیجه ای یافت نشد!!!
        </div>
        <!-- ngRepeat: result in results -->
        <div class="main_search angucomplete-row angucomplete-selected-row clearfix"
             ng-click="selectResult({title: searchStr, originalObject: { name: searchStr, custom: true }})"
             ng-mouseenter="hoverRow(results.length)"
             ng-class="{'angucomplete-selected-row': results.length == currentIndex}">
            <div class="angucomplete-row clearfix" ng-repeat="result in results" ng-click="selectResult(result)"
                 ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
                <figure class="angucomplete-img clearfix"><img ng-src="assets/img/articles/{{result.originalObject.id}}/Main-001.jpg" onerror="this.src='assets/img/defaultImage.png'"/></figure>
                <div class="angucomplete-title clearfix"><i></i>
                    <p ng-if="matchClass" class="clearfix" ng-bind-html="result.title"></p>
                    <p class="search_course_rating clearfix">
                        <span class="star_full"></span>
                        <span class="star_full"></span>
                        <span class="star_full"></span>
                        <span class="star_full"></span>
                    </p>
                    <div class="teacher clearfix"><i></i><p>alfred hichkack,jack nikelson</p></div>
                    <p class="description">In CSS for Designers, Molly E. Holzschlag and Andy Clarke expertly guide you through</p>

                </div>
            </div>
        </div>


    </div>
</div>


